<div class="container-fluid">
    <div class="row mx-1">
        <div class="col-6 pl-0">
            <div class="row bGb">
                <div class="col-6">
                    <h4 class="pt-1 tan-color page-text">1. Shipping</h4>
                </div>
                <div class="col-6">
                    <a class="nav-link tan-color page-text d-flex justify-content-end"
                        routerLink="/app-account/app-account-settings/app-setting-addresses" routerLinkActive="active">
                        Edit
                    </a>
                </div>
            </div>
            <div class="row wBg">
                <div class="col">
                    <p class="black-text page-text">Kevin Caballero</p>
                    <p class="black-text page-text">1224 something way</p>
                    <p class="black-text page-text">stockton, ca</p>
                    <p class="black-text page-text">95230</p>
                    <p class="black-text page-text">209-981-8907</p>
                </div>
            </div>
            <div class="row wBg pt-3">
                <div class="col">
                    <p class="black-text page-text">Shipping speed</p>
                    <p class="black-text page-text">Standard: Free</p>
                </div>
            </div>
            <br>
            <div class="row bGb">
                <div class="col-6">
                    <h4 class="pt-1 tan-color page-text">2. Payment</h4>
                </div>
                <div class="col-6">
                    <a class="nav-link tan-color page-text d-flex justify-content-end"
                        routerLink="/app-account/app-account-settings/app-setting-payment" routerLinkActive="active">
                        Edit
                    </a>
                </div>
            </div>
            <div class="row wBg">
                <div class="col">
                    <p class="black-text page-text">Payment method</p>
                    <p class="black-text page-text">1234</p>
                    <p class="black-text page-text">Exp: 10/23</p>
                    <br>
                    <p class="black-text page-text">Billing information</p>
                    <p class="black-text page-text">Kevin Caballero</p>
                    <p class="black-text page-text">1224 something way</p>
                    <p class="black-text page-text">stockton, ca</p>
                    <p class="black-text page-text">95230</p>
                </div>
            </div>
            <br>
            <div class="row wBg">
                <div class="col d-flex justify-content-center py-2">
                    <button type="submit" class="btn btn-primary" style="width: 90%" routerLink="/app-cart/app-cart-confirm" routerLinkActive="active">Place Order</button>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
        <div class="col-5 pr-0">
            <div class="row bGb">
                <div class="col-6">
                    <h4 class="pt-1 tan-color page-text">3. Cart</h4>
                </div>
                <div class="col-6">
                    <a class="nav-link tan-color page-text d-flex justify-content-end"
                        routerLink="/app-cart/app-cart-home" routerLinkActive="active">
                        Edit
                    </a>
                </div>
            </div>
            <div class="row wBg">
                <div class="col-6">Subtotal:</div>
                <div class="col-6">-</div>
            </div>
            <div class="row wBg">
                <div class="col-6">Estimated shipping:</div>
                <div class="col-6">-</div>
            </div>
            <div class="row wBg">
                <div class="col-6">Estimated tax:</div>
                <div class="col-6">-</div>
            </div>
            <div class="row wBg">
                <div class="col-6">Total:</div>
                <div class="col-6">-</div>
            </div>
        </div>
    </div>
</div>