<div class="container projects px-0" id="projects">
    <div class="row">
        <div class="col">
            <h1>Projects</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p-scrollPanel [style]="{width: '100%', height: '450px'}" styleClass="custom">
                <div class="container pt-4">
                    <div class="row ">
                        <div class="col d-flex justify-content-center pt-3">
                            <div class="card" style="width: 18rem;">
                                <img src="/assets/webstore.png" class="card-img-top" alt="webstore link">
                                <div class="card-body">
                                    <h5 class="card-title">Webstore</h5>
                                    <p class="card-text"></p>
                                    <a href="http://kevin.azurewebsites.net/webstore/" target="_blank" class="btn btn-primary">Live Project</a>
                                </div>
                            </div>
                        </div>
                        <div class="col d-flex justify-content-center pt-3">
                            <div class="card" style="width: 18rem;">
                                <img src="/assets/weather.png" class="card-img-top" alt="Weather link">
                                <div class="card-body">
                                    <h5 class="card-title">Weather API</h5>
                                    <p class="card-text"></p>
                                    <a href="http://kevin.azurewebsites.net/weatherapp/" target="_blank" class="btn btn-primary">Live Project</a>
                                </div>
                            </div>
                        </div>
                        <div class="col d-flex justify-content-center pt-3">
                            <div class="card" style="width: 18rem;">
                                <img src="/assets/todoapp.png" class="card-img-top" alt="Todo app link">
                                <div class="card-body">
                                    <h5 class="card-title">ToDo App</h5>
                                    <p class="card-text"></p>
                                    <a href="http://kevin.azurewebsites.net/todoapp/" target="_blank" class="btn btn-primary">Live Project</a>
                                </div>
                            </div>
                        </div>
                        <div class="col d-flex justify-content-center pt-3">
                            <div class="card" style="width: 18rem;">
                                <img src="/assets/business.png" class="card-img-top" alt="michaels pizza">
                                <div class="card-body">
                                    <h5 class="card-title">Business Redevelopment</h5>
                                    <p class="card-text"></p>
                                    <a href="http://kevin.azurewebsites.net/business/" target="_blank" class="btn btn-primary">Live Project</a>
                                </div>
                            </div>
                        </div>
                        <div class="col d-flex justify-content-center pt-3">
                            <div class="card" style="width: 18rem;">
                                <img src="/assets/trivia.png" class="card-img-top" alt="NBA trivia">
                                <div class="card-body">
                                    <h5 class="card-title">NBA Trivia</h5>
                                    <p class="card-text"></p>
                                    <a href="http://kevin.azurewebsites.net/trivia/" target="_blank" class="btn btn-primary">Live Project</a>
                                </div>
                            </div>
                        </div>
                        <div class="col d-flex justify-content-center pt-3">
                            <div class="card" style="width: 18rem;">
                                <img src="/assets/puppy.png" class="card-img-top" alt="Puppy hotel">
                                <div class="card-body">
                                    <h5 class="card-title">Puppy Hotel</h5>
                                    <p class="card-text"></p>
                                    <a href="http://kevin.azurewebsites.net/puppy/" class="btn btn-primary">Live Project</a>
                                </div>
                            </div>
                        </div>
                        <div class="col d-flex justify-content-center pt-3">
                            <div class="card" style="width: 18rem;">
                                <img src="/assets/webstore.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk of
                                        the card's
                                        content.</p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                        <div class="col d-flex justify-content-center pt-3">
                            <div class="card" style="width: 18rem;">
                                <img src="/assets/webstore.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk of
                                        the card's
                                        content.</p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </p-scrollPanel>
        </div>
    </div>

</div>