<app-title [header]="titleName"></app-title>
<div class="container">
    <div class="row pt-3 ">
        <div class="col light-border mx-2 mx-md-0">
            <div class="container contact-height ">
                <div class="row ">
                    <div class="col-12 col-lg-6 d-flex justify-content-center align-items-center pt-5">
                        <app-forms></app-forms>
                    </div>
                    <div class="col-12 col-lg-6 d-flex justify-content-center align-items-center pt-5">
                        <app-input-box></app-input-box>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>