<form>
    <div class="form-group">
        <label for="firstNameInput" class="tan-color">First Name</label>
        <input type="name" class="form-control" id="firstNameInput" placeholder="Enter First Name">
    </div>
    <div class="form-group">
        <label for="lastNameInput" class="tan-color">Last Name</label>
        <input type="name" class="form-control" id="lastNameInput" placeholder="Enter Last Name">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1" class="tan-color">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
</form>