<div class="container">
    <div class="row pt-3">
        <div class="col">
            <p class="tan-color page-text">Payment Options</p>
        </div>
    </div>
    <div class="row  pt-3">
        <div class="col-6 pt-3">
            <p id="type1">Visa</p>
            <p id="number1">xxxx xxxx xxxx 0897</p>
            <p id="date1">10/23</p>
            <p id="cvv1">748</p>
        </div>
        <div class="col-6">
            <div class="row pt-3 pb-2">
                <div class="col d-flex justify-content-center">
                    <button type="button" class="page-text btn btn-primary">EDIT</button>
                </div>
            </div>
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <button type="button" class="page-text btn btn-primary">CLEAR</button>
                </div>
            </div>
        </div>
    </div>
    <hr class="tan-color">
    <div class="row">
        <div class="col-6 pt-2">
                <p id="type2">Visa</p>
                <p id="number2">xxxx xxxx xxxx 0897</p>
                <p id="date2">10/23</p>
                <p id="cvv2">748</p>
        </div>
        <div class="col-6">
            <div class="row pb-2 pt-2">
                <div class="col d-flex justify-content-center">
                    <button type="button" class="page-text btn btn-primary">EDIT</button>
                </div>
            </div>
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <button type="button" class="page-text btn btn-primary">CLEAR</button>
                </div>
            </div>
        </div>
    </div>
</div>