<div class="container">
    <div class="row pt-5">
        <div class="col">
            <hr class="tan-color">
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex justify-content-center tan-color">
            <p class="m-1">©2020</p>
        </div>
    </div>
    <div class="row d-flex justify-content-center pt-0">
        <a href=""><i class="fab fa-facebook pr-1"></i></a>
        <p class="tan-color ">|</p>
        <a href=""><i class="fab fa-instagram pl-1"></i></a>
    </div>
</div>