<div class="container skills pt-5" id="skills">
    <h1 class="dark">Skills</h1>
    <div class="skills-info">
        <div class="row ">
            <div class="col d-flex justify-content-center">
                <img class="img-size" src="./assets/html.png" alt="">
            </div>
            <div class="col d-flex justify-content-center">
                <img class="img-size pt-3" src="./assets/js.png" alt="">
            </div>
            <div class="col d-flex justify-content-center">
                <img class="img-size" src="./assets/csharp.png" alt="">
            </div>
        </div>
        <div class="row pt-3">
            <div class="col d-flex justify-content-center">
                <img class="img-size" src="./assets/angular.png" alt="">
            </div>
            <div class="col d-flex justify-content-center">
                <img class="img-size" src="./assets/ngBootstrap.png" alt="">
            </div>
            <div class="col d-flex justify-content-center">
                <img class="img-size" src="./assets/primeNg.png" alt="">
            </div>
        </div>
    </div>
</div>