<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <div class="row d-flex flex-nowrap">
                <div class="col">
                    <a class="nav-link black-text page-text d-flex justify-content-end mt-2" routerLink="/app-account/app-profile"
                        routerLinkActive="active">PROFILES</a>
                </div>
                <h2 class="d-flex align-self-center page-text d-none d-lg-block black-text m-0">|</h2>
                <div class="col ">
                    <a class="nav-link black-text page-text d-flex justify-content-start mt-2 pb-2" routerLink="/app-account/app-orders"
                        routerLinkActive="active">
                        ORDERS
                    </a>
                </div>
                <h2 class="d-flex align-self-center page-text d-none d-lg-block black-text m-0">|</h2>
                <div class="col ">
                    <a class="nav-link black-text page-text d-flex justify-content-start mt-2 pb-2" routerLink="/app-account/app-account-settings"
                        routerLinkActive="active">
                        SETTINGS
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>