<div class="row">
    <div class="col">
        <div class="row">
            <div class="col d-flex justify-content-start">
                <h3 class="tan-color page-text">Cart</h3>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="row">
            <div class="col pb-3">
                <app-panel></app-panel>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="row">
            <div class="col d-flex justify-content-center">
                <h3>Summary</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-6">Subtotal:</div>
            <div class="col-6">-</div>
        </div>
        <div class="row">
            <div class="col-6">Estimated shipping:</div>
            <div class="col-6">-</div>
        </div>
        <div class="row">
            <div class="col-6">Estimated tax:</div>
            <div class="col-6">-</div>
        </div>
        <div class="row">
            <div class="col-6">Total:</div>
            <div class="col-6">-</div>
        </div>
        <div class="row pt-2">
            <div class="col d-flex justify-content-center">
                <button type="submit" class="btn btn-primary" routerLink="/app-cart/app-cart-checkout"
                    routerLinkActive="active">Checkout</button>
            </div>
        </div>
    </div>
</div>