<div class="container main-info-section">
        <div class="row">
            <div class="col-12 col-lg-6 d-flex align-items-center">
                <h1>
                    <span>H</span>
                    <span class="m-left">i</span>
                    <span class="m-left">,</span>
                    <br>
                    <span>I</span>
                    <span class="m-left">'</span>
                    <span class="m-left">m</span>
                    <span class="name">K</span>
                    <span class="m-left name">e</span>
                    <span class="m-left name">v</span>
                    <span class="m-left name">i</span>
                    <span class="m-left name">n</span>
                    <span class="m-left">,</span>
                    <br>
                    <span class="m-left">F</span>
                    <span class="m-left">r</span>
                    <span class="m-left">o</span>
                    <span class="m-left">n</span>
                    <span class="m-left">t</span>
                    <span class="m-left">E</span>
                    <span class="m-left">n</span>
                    <span class="m-left">d</span>
                    <br>
                    <span class="m-left">D</span>
                    <span class="m-left">e</span>
                    <span class="m-left">v</span>
                    <span class="m-left">e</span>
                    <span class="m-left">l</span>
                    <span class="m-left">o</span>
                    <span class="m-left">p</span>
                    <span class="m-left">e</span>
                    <span class="m-left">r</span>
                </h1>
            </div>
            <div class="col-12 col-lg-6">
                <div class="logo d-flex justify-content-end">
                    <img src="images/LogoMakr_5wojJB.png" alt="">
                </div>
            </div>
        </div>
    </div>
