<app-title [header]="titleName"></app-title>
<div class="container">
        <div class="row pt-3">
            <div class="col light-border">
                <div class="row ">
                    <div class="col d-flex justify-content-center">
                        <h3 class="page-text tan-color">Welcome!</h3>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col d-flex justify-content-center">
                        <p class="page-text tan-color">Here in CABS.CLOSET is where you will find and purchase items that are either new or used for a discount.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col d-flex justify-content-center">
                        <p class="page-text tan-color">Do not miss your chance for a deal, here at CABS.CLOSET!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>