<div class="container main-info-section">
    <div class="row">
        <div
            class="col-12 col-lg-6 d-flex align-items-center justify-content-center justify-content-lg-start pt-4 pt-lg-0">
            <h1>
                <span class="page-text">H</span>
                <span class="m-left page-text">i</span>
                <span class="m-left page-text">,</span>
                <br>
                <span class="page-text">I</span>
                <span class="m-left page-text">'</span>
                <span class="m-left page-text">m</span>
                <span class="m-left page-text"></span>
                <span class="name page-text">K</span>
                <span class="m-left name page-text">e</span>
                <span class="m-left name page-text">v</span>
                <span class="m-left name page-text">i</span>
                <span class="m-left name page-text">n</span>
                <span class="m-left page-text">,</span>
                <br>
                <span class="m-left page-text">F</span>
                <span class="m-left page-text">r</span>
                <span class="m-left page-text">o</span>
                <span class="m-left page-text">n</span>
                <span class="m-left page-text">t</span>
                <span class="m-left page-text">E</span>
                <span class="m-left page-text">n</span>
                <span class="m-left page-text">d</span>
                <br>
                <span class="m-left page-text">D</span>
                <span class="m-left page-text">e</span>
                <span class="m-left page-text">v</span>
                <span class="m-left page-text">e</span>
                <span class="m-left page-text">l</span>
                <span class="m-left page-text">o</span>
                <span class="m-left page-text">p</span>
                <span class="m-left page-text">e</span>
                <span class="m-left page-text">r</span>
            </h1>
        </div>
        <div class="col-12 col-lg-6 pb-5">
            <div class="logo d-flex justify-content-center justify-content-end ">
                <img class="opacity" src="assets/logo.png" alt="big logo">
            </div>
        </div>
    </div>
</div>
<div class="container about" id="about">
    <h1 class="opacity black">About</h1>
    <div class="about-info">
        <p>Hello, my name is Kevin Caballero and I am a Web Developer based out of Northern California.</p>
        <p>I enjoy designing clean, professional websites that are responsive and accessible. I spend my free time researching about the ever changing world of devlopment to make sure I always use the best practices available.</p>
    </div>
</div>